<div class="c-app-main">
  <div class="c-app-content">
    {{jar-list
      items=items
      currentItem=currentItem
      setCurrentItem=(action "setCurrentItem")
    }}
  </div>

  {{app-pane currentItem=currentItem}}
</div>
