<div class="c-placeholder">
  {{#if @searchQuery}}
    <div class="c-placeholder__image">
      {{svg-jar "search-big"  class="c-icon c-icon--48x48px"}}
    </div>
  {{/if}}

  <div class="c-placeholder__title">
    {{#if @searchQuery}}
      We couldn’t find any assets matching
      <span class="c-placeholder__code">
        {{@searchQuery}}
      </span>
    {{else}}
      No assets found
    {{/if}}

    {{#if @filterName}}
      in
      <span class="c-placeholder__code">
        {{@filterName}}
      </span>
    {{/if}}
  </div>
</div>