<div class="c-pane-details__item" data-test-pane-details-item>
  <div class="c-pane-details__name" data-test-pane-details-name>
    {{@detailsItem.name}}
  </div>

  <div class="c-pane-details__value" data-test-pane-details-value>
    {{get @asset @detailsItem.key}}
  </div>
</div>