<div class="c-content-header">
  <div class="c-content-header__section">
    {{search-bar
        searchQuery=@searchQuery
        setSearchQuery=(action @setSearchQuery)
    }}
  </div>

  <div class="c-content-header__section">
    {{query-dropdown
        buttonName="Sort by"
        queryParamName="sortBy"
        dropdownItems=@sortDropdownItems
    }}

    {{query-dropdown
        buttonName="Arrange by"
        queryParamName="arrangeBy"
        dropdownItems=@arrangeDropdownItems
    }}
  </div>
</div>