{{#if isOpen}}
  {{#c-dropdown
      triggerClass=(concat "js-dropdown-trigger-" elementId)
      attachment=attachment
      targetAttachment=targetAttachment
      close=(action "toggleDropdown")
  }}
    {{yield (hash isDropdown=true)}}
  {{/c-dropdown}}
{{/if}}

<button
  class="c-btn c-btn--secondary c-btn--small c-dropdown__trigger js-dropdown-trigger-{{elementId}}"
  onclick={{action "toggleDropdown"}}
>
  {{yield (hash isButton=true)}}
</button>
