{{#if isDropdownActive}}
  {{#c-dropdown
      attachment=attachment
      targetAttachment=targetAttachment
      target=(concat ".js-dropdown-button-" elementId)
      clickOutsideToClose=true
      close=(toggle-action "isDropdownActive" this)
  }}
    {{yield (hash isDropdown=true)}}
  {{/c-dropdown}}
{{/if}}

<button
  class="c-btn c-btn--secondary c-btn--small js-dropdown-button-{{elementId}}"
  onclick={{toggle-action "isDropdownActive" this}}
>
  {{yield (hash isButton=true)}}
</button>
