<div class="c-app-container">
  {{app-navbar}}

  <div class="c-app-main">
    {{app-sidebar}}

    <div class="c-app-content">
      {{jar-list items=model.svgs}}
    </div>

    {{app-pane}}
  </div>
</div>
