.c-app-navbar {
  display: flex;
  min-height: 50px;
  flex-shrink: 0;
  align-items: center;
  background: #f4f4f4;
  border-bottom: 1px solid #e4e4e4;
}

.c-app-navbar__section {
  display: flex;
  align-items: center;

  &--left {
    width: 200px;
    justify-content: center;
  }

  &--center {
    flex-grow: 1;
    justify-content: center;
  }

  &--right {
    width: 300px;
    padding: 0 14px;
    justify-content: flex-end;
  }
}

.c-app-navbar__logo {
  height: 26px;
}
