.c-asset-preview {
  display: flex;
  align-items: center;
}

.c-asset-preview__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  &--base {
    max-height: 100px;
    max-width: 100px;
  }
}
