/**
  Dropdown component
*/

.c-dropdown {
  position: relative;
  z-index: 9000;
  max-width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.15), 0 2px 12px 0 rgba(0,0,0,0.12);
  background-color: white;
  animation: dropdownFadeIn 60ms linear;
}

.c-dropdown__item {
  @include text-truncate();
  display: block;
  padding: 4px 22px;
  padding-left: 0;
  color: #373a3c;
  text-decoration: none;

  &:first-child {
    border-radius: 3px 3px 0 0;
  }

  &:last-child {
    border-radius: 0 0 3px 3px;
  }

  &:hover,
  &:active {
    color: #2b2d2f;
    text-decoration: none;
    background-color: #f5f5f5;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 22px;
    text-align: center;
    color: $color-blue;
  }

  &.active::before {
    content: "●";
  }
}

.c-dropdown__divider {
  height: 1px;
  margin: 2px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

@keyframes dropdownFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
