.ember-basic-dropdown { position: relative; }
.ember-basic-dropdown-content--left { left: 0; }
.ember-basic-dropdown-content--right { right: 0; }
.ember-basic-dropdown-content-wormhole-origin { display: inline; }

.c-dropdown__content {
  position: absolute;
  padding: 3px 0;
  z-index: 9000;
  max-width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25), 0 2px 9px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

.c-dropdown__item {
  @include text-truncate();

  display: block;
  padding: 3px 22px;
  padding-left: 0;
  color: #373a3c;
  font-size: 13px;
  text-decoration: none;
  text-transform: capitalize;
  transition: background-color 0.1s ease-in-out;
  cursor: pointer;

  &:hover,
  &:active {
    color: #2b2d2f;
    text-decoration: none;
    background-color: #f5f5f5;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 22px;
    text-align: center;
    color: $color-blue;
  }

  &.active::before {
    content: "●";
  }
}

.c-dropdown__divider {
  height: 1px;
  margin: 3px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.c-dropdown__trigger {
  display: inline-block;
  padding: 2px 8px;
  border: 0;
  background: none;
  color: #999;
  cursor: pointer;
  transition: color 0.1s ease-in;
  outline: none;

  &:hover,
  .ember-basic-dropdown-trigger--below & {
    color: $color-blue;
  }
}

.c-dropdown__trigger-inner {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.c-dropdown__trigger-arrow {
  margin-left: 4px;
}

.c-dropdown__trigger-icon {
  margin: 0 4px;
  opacity: 0.8;
}
