.c-icon {
  fill: currentColor;

  &--16px {
    height: 16px;
    line-height: 16px;
  }

  &--24px {
    height: 24px;
    line-height: 24px;
  }

  &--40x40px {
    height: 40px;
    width: 40px;
    line-height: 40px;
  }
}
