.c-pane-preview {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.c-pane-preview__item {
  margin-right: 10px;
  margin-bottom: 10px;
  max-height: 200px;
  max-width: 200px;

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  &--base {
    max-height: 100px;
    max-width: 100px;
  }
}
