.c-sidebar-filter {
  margin: 18px 0;
  padding: 0 12px;
}

.c-sidebar-filter__title {
  margin-bottom: 6px;
  padding: 0 4px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #999;
}

.c-sidebar-filter__item {
  display: flex;
  margin-bottom: 2px;
  padding: 3px 6px;
  align-items: center;
  border-radius: 4px;
  font-size: 12px;
  color: #70777b;
  transition: background-color 0.1s ease-in-out;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    background: #efefef;
    color: grey;
  }

  &.is-active {
    background: #e8e8e8;
    color: #444;
  }
}

.c-sidebar-filter__name {
  @include text-truncate();
  flex-grow: 1;
}

.c-sidebar-filter__count {
  color: #aaa;
}
