.c-app-sidebar {
  width: rem(208px);
  flex-shrink: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1345;
  background: #fcfcfc;
  border-right: 1px solid #e8e8e8;
}

.c-app-sidebar__logo {
  display: flex;
  height: rem(60px);
  align-items: center;
  justify-content: center;
}
