.c-app-pane {
  display: flex;
  flex-direction: column;
  width: rem(264px);
  flex-shrink: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1234;
  background: #fdfdfd;
  border-left: 1px solid #e5e5e5;
}

.c-app-pane__section {
  flex-shrink: 0;
  padding: rem(18px) rem(16px);

  &:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
}

.c-app-pane__title {
  margin-bottom: rem(8px);
  font-size: rem(12px);
  font-weight: 600;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: #666;
}

.c-app-pane__placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: rem(15px);
  color: #888;
}

.c-app-pane__copypasta {
  font-family: monospace;
  font-size: rem(12px);
  color: #666;
}
