.c-asset-group {
  border-top: 1px solid #eee;

  &:first-child {
    border-top: 0;
  }
}

.c-asset-group__header {
  padding: rem(8px) rem(14px);
  border-bottom: 1px solid #eee;
}

.c-asset-group__title {
  font-size: rem(12px);
  color: #777;
}

.c-asset-group__count {
  font-size: rem(11px);
  color: #999;

  &::before {
    margin: 0 rem(4px);
    content: "–";
  }
}
