.c-placeholder {
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.c-placeholder__image {
  margin-top: -5%;
  margin-bottom: rem(6px);
  color: #999;
}

.c-placeholder__title {
  max-width: rem(300px);
  font-size: rem(16px);
  text-align: center;
  color: #888;
}

.c-placeholder__code {
  display: inline-block;
  padding: 0 rem(8px);
  white-space: nowrap;
  font-size: rem(14px);
  border-radius: rem(3px);
  background-color: #eee;
  color: #777;
}
