.c-search-bar {
  position: relative;
  height: rem(30px);
  width: rem(280px);
}

.c-search-bar__icon {
  height: rem(16px);
  width: rem(16px);
  position: absolute;
  top: 50%;
  left: rem(8px);
  transform: translateY(-50%);
  z-index: 150;
  fill: #999;
}

.c-search-bar__input {
  width: 100%;
  height: 100%;
  padding-left: rem(30px);
  padding-right: rem(22px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #888;
  border: 1px solid #e5e5e5;
  border-radius: rem(4px);
  box-shadow: none;

  &:focus {
    outline: 0;
    color: #444;
    border-color: #2598f9;
    box-shadow: inset 0 rem(1px) rem(2px) rgba(0, 0, 0, 0.05);
  }
}

.c-search-bar__reset {
  margin: 0;
  padding: rem(2px) rem(9px);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 150;
  font-size: rem(11px);
  border: 0;
  color: #aaa;
  background: none;
  cursor: pointer;

  &:hover {
    color: var(--blue);
  }
}
