.c-sidebar-filter {
  margin-bottom: rem(18px);
  padding: 0 rem(12px);
}

.c-sidebar-filter__title {
  margin-bottom: rem(6px);
  padding: 0 rem(4px);
  font-size: rem(10px);
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #999;
}

.c-sidebar-filter__item {
  display: flex;
  margin-bottom: rem(2px);
  padding: rem(3px) rem(6px);
  align-items: center;
  border-radius: rem(4px);
  font-size: rem(12px);
  color: #70777b;
  transition: background-color 0.1s ease-in-out;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    background: #efefef;
    color: grey;
  }

  &.is-active {
    background: #efefef;
    color: #444;
  }
}

.c-sidebar-filter__name {
  flex-grow: 1;

  /* truncate */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.c-sidebar-filter__count {
  color: #aaa;
}
