<div class="c-app-sidebar">
  <div class="c-app-sidebar__logo">
    {{logo-dropdown
        externalLinks=@externalLinks
        showShortcutBar=@showShortcutBar
    }}
  </div>

  <div class="c-sidebar-filter" data-test-sidebar-filter="default">
    {{#link-to "index"
        (query-pair "filterBy" null)
        class="c-sidebar-filter__item"
        activeClass="is-active"
        data-test-sidebar-filter-item="true"
    }}
      <span class="c-sidebar-filter__name" data-test-sidebar-filter-name>
        All assets
      </span>
    {{/link-to}}
  </div>

  {{#if @sidebarFilters}}
    {{#each @sidebarFilters as |sidebarFilter|}}
      {{sidebar-filter filter=sidebarFilter}}
    {{/each}}
  {{/if}}
</div>