<div class="c-app-sidebar__logo-wrap">
  {{#button-dropdown as |section|}}
    {{#if section.isButton}}
      {{svg-jar "logo" class="c-app-sidebar__logo"}}
    {{else if section.isDropdown}}
      <div class="c-dropdown__item" {{action showShortcutsBar}}>
        Shortcuts
      </div>

      <a href="https://github.com/ivanvotti/ember-svg-jar"
        class="c-dropdown__item"
        target="blank"
      >
        Contribute
      </a>

      <a href="https://github.com/ivanvotti/ember-svg-jar/blob/master/README.md"
        class="c-dropdown__item"
        target="blank"
      >
        About
      </a>
    {{/if}}
  {{/button-dropdown}}
</div>

<div class="c-sidebar-filter">
  {{#link-to "index"
      (query-pair "filterBy" null)
      class="c-sidebar-filter__item"
      activeClass="is-active"
  }}
    <span class="c-sidebar-filter__name">
      All assets
    </span>
  {{/link-to}}
</div>

{{#each sidebarFilters as |sidebarFilter|}}
  {{sidebar-filter filter=sidebarFilter}}
{{/each}}
