<div class="c-app-sidebar__logo-wrap">
  {{svg-jar "logo" class="c-app-sidebar__logo"}}
</div>

<div class="c-sidebar-filter">
  {{#link-to "index"
      (query-pair "filterBy" null)
      class="c-sidebar-filter__item"
      activeClass="is-active"
  }}
    <span class="c-sidebar-filter__name">
      All assets
    </span>
  {{/link-to}}
</div>

{{#each sidebarFilters as |sidebarFilter|}}
  {{sidebar-filter filter=sidebarFilter}}
{{/each}}
