<div class="c-app-sidebar">
  <div class="c-app-sidebar__logo">
    {{logo-dropdown
        externalLinks=@externalLinks
        showShortcutBar=@showShortcutBar
    }}
  </div>

  <div class="c-sidebar-filter" data-test-sidebar-filter="default">
    <LinkTo
      @route="index"
      @query={{query-pair "filterBy" null}}
      @activeClass="is-active"
      class="c-sidebar-filter__item"
      data-test-sidebar-filter-item="true"
    >
      <span class="c-sidebar-filter__name" data-test-sidebar-filter-name>
        All assets
      </span>
    </LinkTo>
  </div>

  {{#if @sidebarFilters}}
    {{#each @sidebarFilters as |sidebarFilter|}}
      {{sidebar-filter filter=sidebarFilter}}
    {{/each}}
  {{/if}}
</div>