<div class="c-app-sidebar__title">
  Menu
</div>

<div class="c-app-sidebar__link is-active">
  <div class="c-app-sidebar__link-text">
    All SVGs
  </div>
</div>

<div class="c-app-sidebar__link">
  <div class="c-app-sidebar__link-text">
    Other stuff
  </div>
</div>
