{{#if currentAsset}}
  <div class="c-app-pane__section">
    {{asset-preview asset=currentAsset}}
  </div>

  <div class="c-app-pane__section">
    <div class="c-app-pane__title">
      Usage
    </div>

    {{asset-usage asset=currentAsset}}
  </div>

  <div class="c-app-pane__section">
    <div class="c-app-pane__title">
      Details
    </div>

    {{asset-details asset=currentAsset}}
  </div>
{{else}}
  <div class="c-app-pane__placeholder">
    No Selection
  </div>
{{/if}}