<div class="c-asset-details">
  {{#each @detailsItems as |detailsItem|}}
    <div class="c-asset-details__item">
      <div class="c-asset-details__name">
        {{detailsItem.name}}
      </div>

      <div class="c-asset-details__value">
        {{get @asset detailsItem.key}}
      </div>
    </div>
  {{/each}}
</div>