{{svg-jar "search" class="c-search-bar__icon"}}

{{input
  class="c-search-bar__input js-search-bar-input"
  placeholder="Search assets..."
  value=@searchQuery
  enter=(action "onEnter")
  escape-press=(action "onEscape")
  data-test-search-bar-input="true"
}}

{{#if @searchQuery}}
  <button class="c-search-bar__reset" {{action "resetQuery"}} data-test-search-bar-reset>
    ✕
  </button>
{{/if}}
