{{#if @dropdownItems}}
  {{#button-dropdown as |section|}}
    {{#if section.isButton}}
      <span>{{@buttonName}}</span>
    {{else if section.isDropdown}}
      {{#each @dropdownItems as |dropdownItem|}}
        {{link-to dropdownItem.name
            "index"
            (query-pair @queryParamName dropdownItem.key)
            class="c-dropdown__item"
        }}
      {{/each}}

      <div class="c-dropdown__divider"></div>

      {{link-to "None"
          "index"
          (query-pair @queryParamName null)
          class="c-dropdown__item"
      }}
    {{/if}}
  {{/button-dropdown}}
{{/if}}
