{{#each assets as |asset|}}
  <div class="js-asset-item">
    {{asset-item
        asset=asset
        currentAsset=currentAsset
        setCurrentAsset=(action setCurrentAsset)
    }}
  </div>
{{/each}}
