{{#each
    (sort-by "name"
      (to-items (group-by arrangeBy assets)
        keyName="name"
        valueName="items"
      )
    )
    as |group|
}}
  <div class="c-asset-group">
    <div class="c-asset-group__header">
      <span class="c-asset-group__title">
        {{group.name}}
      </span>

      <span class="c-asset-group__count">
        {{group.items.length}} Items
      </span>
    </div>

    {{asset-list assets=group.items}}
  </div>
{{/each}}
